body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .lefttopnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .lefttopnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .lefttopnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .lefttopnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .header{
    text-align: left;
    color:white;

  }

  .righttopnav {
    overflow: hidden;
  }
  
  .righttopnav a {
    float: right;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .righttopnav a:hover {
    color: black;
  }
